<meta charset="UTF-8">
<title>HAND CRICKET</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
  /* body { padding-top:50px; } */ 
</style>
<!--music-->
<audio src="https://www.bensound.com/bensound-music/bensound-moose.mp3"></audio>
<Script>
  window.addEventListener("DOMContentLoaded", event => {
    const audio = document.querySelector("audio");
    audio.volume = 0.5;
    audio.play();
  });
</Script>
