<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>


  <style>
      body {
        width: 100%;
        align-items: center;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        background-image: url('bg.png');
      }

      ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
      }

      li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #555;
        color: white;
      }

      footer {
        position: fixed;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
      }

      h1 {
        padding-top: 1rem;
        padding-bottom: 2rem;
        color: white;
      }

      body {
        padding-top: 0.5rem;
      }

      


    </style>


</head>


<body class="container">

  <center>
    <div class="main">

      <img src='logo-final.png' alt='Official logo' height="150px">
      <h1> HAND CRICKET</h1>
      <ul>
        <li><a href="/">Start</a></li>
        <li><a href="/instructions">Instruction</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </center>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>