<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
 
</head>
<style>
      body{
        width: 100%;
        align-items : center;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        background-image:url('bg.png') ;
    }
   ul {
  list-style-type: none;
  margin: 0;
  text-align:center;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
    </style>
    </head>
    <audio src="https://www.bensound.com/bensound-music/bensound-moose.mp3"></audio>
<!--music-->
<Script>
  window.addEventListener("DOMContentLoaded", event => {
    const audio = document.querySelector("audio");
    audio.volume = 0.5;
    audio.play();
  });
</Script>

<body class="container">

<main>
  <div class="main">
    
    <h1> HAND CRICKET<img src='loogo2.png' alt='Official logo' width='100px' height='50px'></h1>
      <ul>
        <li><a href="/">Start</a></li>
        <li><a href="/instructions">Instruction</a></li>
        <li><a href="/about">About</a></li>
      </ul>
  </div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>