<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
 
</head>
<style>
      body{
        width: 100%;
        align-items : center;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
       
        background-size: cover;
        background-image:url('bg1.jpg') ;
    }
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1000px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 6px;
  text-decoration: none;
}
footer {
    
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
    </style>
    </head>
<body class="container">

<main>
  <div class="main">
    <h1>INSTRUCTIONS</h1>
      <ul>
        <ul><h3>Instructions for starting a game</h3></ul>
            <ul>If you want to create own room then type the name of your room and click 'create room' ,your room will be created and send the room id to the person you want to play with.</ul>
            <ul>if you want to join a room then type the room id and click 'join room'</ul>
        <ul>
      </ul>
      <br>
      <br>
      <br>
      <ul>
          <ul><h3>Rules for making runs:</h3></ul>
            <ul>For marking 1, one needs to throw the fingers, giving rise to an index finger’s extension.</ul>
            <ul>For attaining 2, just make scissors indication.</ul>
            <ul>To score 3, indicate only the middle, ring, and little fingers extended.</ul>
            <ul> For acquiring 4, sum up your index finger to three.</ul>
            <ul>Throw paper hints for 5 .</ul>
            <ul>Clasp your fist with only a thumb expansion for collecting 6. </ul>
        </ul>
        <img src="finger.jpg" />
        <br>
        <br>
        <br>
        <ul>
            <ul><h3>Rules for wicket</h3></ul>
                <ul>The rules for a wicket are quite simple; one gets out when both the individuals involved make the same signs.</ul>
        </ul>
        <br>
        <br>
        <br>
        <br>

  </div>
</main>

</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</html>